.cta {
    border: none;
    /* 移除按鈕邊框 */
    background: none;
    /* 移除按鈕背景色 */
    position: absolute;
    /* 設定按鈕位置為絕對定位 */
    right: 30px;
    /* 按鈕位置相對於其父元素的右側間距 */
    /* top: px; */
    /* 按鈕位置相對於其父元素的上側間距 */
    padding: 15px 30px;
    /* 按鈕內部的上下與左右間距 */
}

.cta span {
    padding-bottom: 7px;
    /* 按鈕文字與底緣的間距 */
    letter-spacing: 4px;
    /* 設定文字字距 */
    font-size: 17px;
    /* 設定文字大小 */
    padding-right: 15px;
    /* 按鈕文字與右側的間距 */
    text-transform: uppercase;
    /* 將按鈕文字轉換為大寫字母 */
}

.cta svg {
    transform: translateX(-8px);
    /* 將箭頭往左移8像素 */
    transition: all 0.3s ease;
    /* 設定動畫時間和效果 */
}

.cta:hover svg {
    transform: translateX(0);
    /* 當滑鼠移動到按鈕上時，將箭頭移回原來的位置 */
}

.cta:active svg {
    transform: scale(0.9);
    /* 當按下按鈕時，縮小箭頭的大小 */
}

.hover-underline-animation {
    position: relative;
    /* 設定父元素為相對定位 */
    color: black;
    /* 設定文字顏色為黑色 */
    padding-bottom: 20px;
    /* 設定底部邊緣與底緣的距離 */
}

.hover-underline-animation:after {
    content: "";
    /* 在父元素內插入一個空的內容元素 */
    position: absolute;
    /* 設定元素為絕對定位 */
    width: 100%;
    /* 設定元素的寬度為 100% */
    transform: scaleX(0);
    /* 初始設定元素不可見 */
    height: 2px;
    /* 設定元素的高度為 2 像素 */
    bottom: 0;
    /* 設定元素的位置在父元素的下方 */
    left: 0;
    /* 設定元素的位置在父元素的左方 */
    background-color: #000000;
    /* 設定元素的背景色為黑色 */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    /* 滑鼠滑入 .cta 時，將 .hover-underline-animation:after 的 X 軸方向變形比例設為 1 */
    transform-origin: bottom left;
    /* 設定變形的起始點在左下角 */
}

.cta a:link,
.cta a:visited {
    color: inherit;
    /* 連結的顏色繼承自父元素 */
    text-decoration: none;
    /* 移除連結的下底線 */
}